<div class="form-container">
  <h2>Add Foyer</h2>
  <form (ngSubmit)="onSubmit()">
    <div>
      <label for="nomFoyer">Nom du Foyer:</label>
      <input type="text" id="nomFoyer" #nomFoyer required>
    </div>
    <div>
      <label for="capaciteFoyer">Capacité du Foyer:</label>
      <input type="number" id="capaciteFoyer" #capaciteFoyer required>
    </div>
    
    <button type="submit">Enregistrer</button>
  </form>

  <!-- Tableau des foyers -->
  <h3>Liste des Foyers</h3>
  <table>
    <thead>
      <tr>
        <th>Nom du Foyer</th>
        <th>Capacité</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let foyer of foyers">
        <td>{{ foyer.nomFoyer }}</td>
        <td>{{ foyer.capaciteFoyer }}</td>
      </tr>
    </tbody>
  </table>
</div>
